<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/sachin/IdeaProjects/BooksWagon_Project/src/test/java">
        <classes>
            <class name="com.blz.selenium.test.LoginTest">
                <methods>
                    <include name="login_test"/>
                    <include name="buyBook_test"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="RemoveBook_From_Cart">
        <classes >
            <class name="com.blz.selenium.test.RemoveBook_From_Cart">
                <methods>
                    <include name="remove_book_test"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="DashBoard_Test">
                <classes >
                    <class name="com.blz.selenium.test.DashBoard_Test">
                        <methods>
                            <include name="searchBook_test"/>
                        </methods>
                    </class>
                </classes>
            </test>
           <test name="Logout_Test">
               <classes >
                   <class name="com.blz.selenium.test.Logout_Test">
                       <methods>
                           <include name="logout_Application"/>
                       </methods>
                   </class>
               </classes>
           </test>
    <test name="Invalid_Login_Test">
        <classes >
              <class name="com.blz.selenium.test.Invalid_Login_Test">
              <methods>
                  <include name="login_negative_test"/>
              </methods>
              </class>
        </classes>
    </test>
</suite>