<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/sachin/IdeaProjects/BooksWagon_Project/src/test/java/com/blz/selenium/test/Add_To_Wishlist_Test.java"><classes><class name="com.blz.selenium.test.Add_To_Wishlist_Test"><methods><include name="addTo_wishlist_test"/></methods></class></classes></test></suite>